<div class="form-add-title text-success">
  <h3>Find your event</h3>
</div>

<div id="event-subheader">
 <form action="/posts/add" method:"get">
    <button class="button bg-success text-white">Create an event <i class="fas fa-plus"></i></button>
  </form>
</div>
<ul>
{{#each events }}
<div class"event-cards">
<li>
  <div class="card event-list" style="width: 18rem;">
  <img class="event-img" src={{this.imgPath}} alt="" height="100px">
  <div class="card-body">
    <h5 class= "text-success">{{this.title}}</h5>
     <a class="card-title" href="/events/{{this._id}}/detail">
   See details
  </a>
   <p class="card-text">Date: {{this.date}} <br>
  Location: {{this.city}} </p>
  </div>
  </div>
</li>
</div>
{{/each}}
</ul>

