<h1>Find your friends</h1>

{{!-- Displays each user in the database except the own user. Displays 'send invite' button unless that user has already been invited --}}
{{#each users}}
  <div class="people-cards">
    {{#ifEquals this._id ../user._id}}
    {{else}}
      <img src={{this.imgPath}} alt="" height="50px">
      <h3>{{this.username}}</h3>
      {{#ifIsInvitee ../user this}}
        <h4>Already invited</h4>
      {{else}}
      {{#ifIsFriend ../user this}}
        <form action="/my-friends/{{this.id}}" method="POST">
          <button>See friend</button>
        </form> 
      {{else}}
        <form action="/find-friends/invite/{{this.id}}" method="POST">
          <button>Send invite</button>
        </form> 
      {{/ifIsFriend}}
      {{/ifIsInvitee}}
      <br>
    {{/ifEquals}}
  </div>
{{/each}}