
{{!-- This is to display the posts that users create --}}

<div class="page-title">
  <h2>Newsfeed</h2>
</div>
<div id="newsfeed-subheader">
 <form action="/posts/add" method:"get">
    <button class="button">Create a new post</button>
  </form>
</div>
  {{#each posts}}
    <div id="post-gen-container">
      <div id="post-header">
        <div id="user-prof-pic-div">
          <img class="user-prof-pic" src="{{this._creator.imgPath}}" alt="Profile pic">
        </div>
        <div id="post-header-text">
          <h3>{{this._creator.username}}</h3>
          {{!-- <p>{{this.created_at}}</p> --}}
        </div>
      </div>
      <div class="separator"></div>
      <div id="post-content">
        <h3>{{this.title}}</h3>
        <p>{{this.content}}</p>
      </div>
      <div id="post-img-div">
        <img src="{{this.imgPath}}" alt="Post's image" height="150px">
      </div>
      <div>
        <h6 id="post-date">{{this.created_at}}</h6>
      </div>

      <div class="separator"></div>

      {{!-- DISPLAY ALL POST COMMENTS --}}
      <hr>
        {{#each this.comments}}
        <div id="post-comments-div">
          <div id="comment-user-prof-pic-div">
            <img class="user-prof-pic" src="{{this._creatorId.imgPath}}" alt="Profile pic">
          </div>
          <div class="comm-content">
            <div>
              <h6>{{this.creatorUsername}}</h6>
            </div>
            <div>
              <p>{{this.content}}</p>
            </div>
          </div>
          {{#ifEquals ../currentUserId this._creatorId }}
            <form action="/posts/{{../this._id}}/comment/{{this._id}}/delete" method:"post">
              <button id="delete-comment-button"  class="small-delete-button">X</button>
            </form>
          {{/ifEquals}}
      </div>
        {{/each}}
      <div id="comment-input-box">
        <form action="/posts/{{this._id}}/add-comment" method="POST">
        <div>
          <input name="content" placeholder="Your comment here"></input>
        </div>
        <div>
          <button class="button">Comment</button>
        </div>
        </form>
      </div>
      
      <div id="edit-delete-post-buttons">
        {{#ifEquals ../currentUserId this._creator._id}}
        {{!-- EDIT POST button --}}
        <form action="/posts/{{this._id}}/edit" method:"get">
          <button class="button">Edit post</button>
        </form>
        {{!-- DELETE POST button --}}
        <form action="/posts/{{this._id}}/delete" method:"get">
          <button class="button delete">Delete post</button>
        </form>
        {{/ifEquals}}
      </div>

    </div>
  {{/each}}


