<img src="{{user.imgPath}}" alt="{{user.username}}'s image">
<h1>{{user.username}}</h1>	
<strong>Email</strong>: {{user.email}} <br>			
<strong>Kind</strong>: {{user.kind}} <br>			
<strong>Age</strong>: {{user.age}} <br>		
<strong>Phone number</strong>: {{user.phoneNumber}} <br>		
<strong>Hobbies</strong>: {{user.hobbies}} <br>		
<strong>Fears</strong>: {{user.fears}} <br>		
<strong>Favorite foods to be in</strong>: {{user.favFoods}} <br>		
<strong>Dark secret</strong>: {{user.darkSecret}} <br><br>
<strong>Posts</strong>:<br> 

{{#each userPosts}}
	{{this.title}} <br>
	{{this.content}} <br><br>
	{{#if this.comments}}
	Comments:<br>
	{{#each this.comments}}
		By {{this.creatorUsername}}: <br>
		{{this.content}} <br>
	{{/each}}
	{{/if}}
{{/each}}

{{#if profileOwner}}
<p>			
	<a href="/users/{{user._id}}/edit">Edit</a><br>		
	<a href="/users/{{user._id}}/delete">Delete</a><br>		
</p>			
{{/if}}

{{#if message}}
    <div class="error-message">{{ message }}</div>
{{/if}}