<h1>List of users</h1>				
<ul>				
	{{#each users}}			
		<li>		
			<a href="/users/{{this._id}}">	
				{{this.username}}
			</a>	
			<img src="{{this.imgPath}}" alt="{{this.username}}'s image" height="150px">
		</li>		
	{{/each}}		
</ul>
{{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}