<h1>Welcome to your homepage</h1>

{{!-- This is to display the posts that users create --}}
<div id="newsfeed">
<h2>Newsfeed</h2>

 <form action="/posts/add" method:"get">
    <button>Create a new post</button>
    </form>

<ul>
  {{#each posts}}
  <li>
    <h3>{{this.title}}</h3>
    <p>{{this.content}}</p>
    <h5>Posted by: {{this._creator.username}}</h5> <br>

    {{!-- DISPLAY ALL POST COMMENTS --}}
    <h5>Comments:</h5>
    {{#each this.comments}}
      <h6>{{this.creatorUsername}}</h6>
      <p>{{this.content}}</p>
    {{/each}}
    {{!-- EDIT POST button --}}
    <form action="/posts/{{this._id}}/edit" method:"get">
      <button>Edit</button>
    </form>
    {{!-- DELETE POST button --}}
     <form action="/posts/{{this._id}}/delete" method:"get">
      <button>Delete</button>
    </form>
    {{!-- ADD COMMENT --}}
    <form action="/posts/{{this._id}}/add-comment" method="POST">
      <textarea name="content" cols="30" row="10"></textarea>
      <button>Comment</button>
    </form>
  </li>
  {{/each}}
</ul>
</div>