<h1>Welcome to your homepage</h1>

{{!-- This is to display the posts that users create --}}
<div id="newsfeed">
<h2>Newsfeed</h2>

 <form action="/posts/add" method:"get">
    <button>Create a new post</button>
    </form>

<ul>
  {{#each posts}}
  <li>
    {{this.title}} <br> 
    {{this.content}} <br> <br>
    Posted by :{{this._creator.username}}
    
    {{!-- EDIT button --}}
    <form action="/posts/{{this._id}}/edit" method:"get">
    <button>Edit</button>
    </form>
    {{!-- DELETE button --}}
     <form action="/posts/{{this._id}}/delete" method:"get">
    <button>Delete</button>
    </form>
  </li>
  {{/each}}
</ul>
</div>